html {
  overflow-x: hidden; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

img {
  max-width: 100%;
  display: block; }

button,
input,
textarea,
select {
  font: inherit; }

strong {
  font-weight: 500; }

ul {
  list-style: none; }

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.794), rgba(40, 180, 133, 0.794)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
  will-change: transform;
  animation: moveRight 900ms ease-out 600ms 3;
  /* backface-visibility: hidden; */ }

.logo-img {
  height: 36px;
  width: 72px;
  z-index: 1; }

.text-box {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading-primary {
  margin-bottom: 60px;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }

.heading-primary__main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 32px;
  animation-name: moveInLeft;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
  /* animation-iteration-count: 3; */
  /* animation-delay: 1000ms; */ }

.heading-primary__sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 16px;
  animation-name: moveRight;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
  /* animation: moveRight 900ms ease-out; */ }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btn:link,
.btn:visited {
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* box-shadow: xOffset yOffset blur color; */ }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* initial state */
  transition: all .4s; }

.btn-white::after {
  content: '';
  display: inline-block;
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn-animated {
  /* animation: name duration timingFunction delay; */
  animation: moveInBottom .5s ease-out .75s;
  /* animation-fill-mode: backwards;  apply first state - 0% for animation.name*/
  animation-fill-mode: backwards; }
